# CLion specific
cmake-build-debug/
cmake-build-release/
.idea/

# make outputs
*.o
check

# OS
.DS_Store
*.zip

# Python
*__pycache__
venv/

# polytope descriptions
*.out
*.txt
*.hull
*.diamond
*.solved

#LaTeX
*.tex
*.aux
*.pdf
*.log
*.synctex.gz

